
<div class="login-form">
    <form action="/login" method="post">
      <div class="form-control">
        <label for="name">Login</label>
        
      </div>
      <div class="form-control">
        <label for="password"><a href="/authqrcode">BankId on another device</a></label>
        <label ><a href="/privetnumber">BankId with social security Number</a></label>
        <label ><a href="/onsamedevice">BankId on this device</a></label>
      </div>
          
    </form>    
  </div>