<h2>Sign Text using BankID</h2>
<!-- Add your demo content here -->
<div class="login-form">
    <form action="/sign-text-notice" method="post">
      <div class="form-control">
        <label for="name">Your Social Security Number: </label>
        <input
          type="text"
          name="ssn"
          id="ssn"
          placeholder="YYYYMMDDNNNN"
          required
        /><br/><br/>
        <button type="submit" class="btn">Login</button>
      </div>
    </form>
  </div>