<h2>Sign Text using BankID</h2>
<!-- Add your demo content here -->
<h2>Open BankID Application on Your Device</h2>
<img class="bankid" src="images/bankid_signature.png" alt="Mobile phone screen">
<script src="/js/script.js"></script>
