<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Success Page</title>
  <link rel="stylesheet" href="css/styles2.css">
</head>
<body>
  <a href="/" class="go-back-link">Go back</a>
  <div class="success-message">
    SUCCESS!
  </div>
  <div class="additional-message">
    <p>Welcome, you are now logged in successfully!</p>
  </div>
</body>
</html>
