<%- include('header.ejs') %>
<div class="login-form">
    <form method='post' action='/signdocs' enctype="multipart/form-data">
      <input type='file' name='upload' id="upload" placeholder="Upload Document">
      <input type='submit'>
    </form> 
</div>
<%- include('footer.ejs') %>
